services:
  graphql-api:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ../app:/app:cached
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload --log-level debug
    ports:
      - "8000:8000" # この行を追加
    env_file:
      - .env
