fastapi
uvicorn
strawberry-graphql[fastapi]
sqlalchemy
psycopg2
python-dotenv
sqlacodegen #SQLAlchemy のリフレクションを使用する方法へ移行
pydantic
sqlalchemy-to-pydantic

# pydantic-sqlalchemy
# databases 
# asyncpg
# psycopg2-binary
# alembic